#footer {
    background-color: var(--negative);
    box-shadow: var(--shadow);

    border-radius: var(--roundMD) var(--roundMD) 0 0;
    
    position: relative;
    top: 0;
    width: 100%;

    Z-index: 50;
}